*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "",sans-serif;
}

span, a,label{
    display: inline-block;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body{
    background-color: black;
    color: white;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

ul {
    display: flex;
    gap: 4px;
    list-style: none;

}

ul li a{
    padding: 24px 8px;
    color: white;
    transition: all 0.3s;
}

ul li a:hover{
    color: red;
}

.about{
    display: flex;
    gap: 4px;
}

.about a{
    padding: 24px 8px;
    color: white;
    transition: all 0.3s;
}

.about a:hover{
    color: red;
}

.text{
    text-align: center;
    margin-top: 100px;
   
}

.text h1{
    font-size: 64px;
    font-weight: 400;
    line-height: 75px;
    margin-bottom: 26px;
}

.text p{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    max-width: 262px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.foo{
    display: flex;
    justify-content: space-between;
}

.txt h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 45px;
}

.txt h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 11px;
    
}

.rock{
    display: flex;
    align-items: center;
}


h3 span{
    color: grey;
}

.bottom{
    margin-top: 218px;
}

.txt p{
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}


.foot{
    text-align: center;
    margin-bottom: 130px    ;
}

.foot ul{
    justify-content: center;
}

.foot p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #808080;

}

.foot>a{
    margin-top: 30px;
    color: white;
    padding: 20px 86px;
    border: 2px solid white;
    border-radius: 6px;
    transition: all 0.3s;
}

.foot>a:hover{
    background-color: white;
    color: black;
}








